@charset "UTF-8";
.inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 60px 20px 60px; }
  .inicio div p {
    font-size: 1.5rem;
    color: #6e4dd1; }

.img-inicio-2 {
  display: none; }

.menesunda {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0px 10px; }
  .menesunda img {
    width: 350px;
    height: 250px; }

.stencils {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 25px; }

.tituloGaleria {
  text-align: center;
  margin-top: 25px;
  color: #6e4dd1; }

.galeriaMarquee, .galeriaEquinox, .galeriaEquinox2, .galeriaEditadas {
  display: grid;
  gap: 2rem;
  margin: 2rem;
  align-content: center; }
  .galeriaMarquee img, .galeriaEquinox img, .galeriaEquinox2 img, .galeriaEditadas img {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.rosa {
  color: #6e4dd1; }

@media screen and (min-width: 600px) {
  .galeriaMarquee, .galeriaEquinox, .galeriaEquinox2 {
    margin: 3rem 11rem; } }

@media screen and (min-width: 1000px) {
  .socials {
    width: 900px; }
  .img-inicio-1 {
    display: none; }
  .img-inicio-2 {
    display: block;
    width: 1000px;
    height: 600px; }
  .container {
    width: 800px; }
  .img-inicio-2 {
    display: block; }
  .navBarLogo {
    display: block; }
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 120px; }
  main div img {
    width: 1000px;
    height: 700px; }
  .galeriaMarquee {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 3rem 18rem; }
    .galeriaMarquee .img4 {
      grid-column: span 2; }
    .galeriaMarquee .img5 {
      display: none; }
    .galeriaMarquee .img8 {
      grid-column: span 2; }
    .galeriaMarquee .img9 {
      display: none; }
  .galeriaEquinox {
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: repeat(3, 30%);
    margin: 0rem 18rem; }
    .galeriaEquinox .img1 {
      grid-row: span 2; }
    .galeriaEquinox .img2 {
      display: block; }
    .galeriaEquinox .img3 {
      grid-row: span 2; }
  .galeriaEquinox2 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin: 0rem 18rem 3rem 18rem; }
  .galeriaEditadas {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0rem 18rem 3rem 18rem; }
  .stencils {
    margin: 2rem 0rem; }
  .menesunda img {
    width: 500px;
    height: 330px;
    transition: all 0.3s; }
  .menesunda img:hover {
    transform: scale(1.2); }
  .menesunda .img1 {
    width: 1020px;
    height: 650px; }
  /* Me gustaría que ssiempre queden en 2 columnas las fotos a partir de los 1000px, tratar de arreglarlo */ }

@media screen and (min-width: 1453px) {
  .stencils {
    margin: 2rem 11rem; } }

.navBarCustom {
  background-color: #6e4dd1;
  border-radius: 25px; }
  .navBarCustom li a {
    font-weight: bold; }
  .navBarCustom li a:hover {
    background-color: #FFA3FD;
    border-radius: 5px; }
  .navBarCustom ul {
    background-color: #6e4dd1; }
    .navBarCustom ul li a:active {
      background-color: #6e4dd1; }

/* .navBarCustom{
    background-color: #6e4dd1;
    border-radius: 25px;
    li{
        a{
          font-weight: bold;     
        }
        a:hover{
            background-color: nth($colores,2);
            border-radius: 5px;
        }
    }
    ul{
        background-color: nth($colores,1);
        li{
            a:active{
                background-color: nth($colores,1);
            }
        }
    }
} porlas */
.bordeRosa {
  border-color: #6e4dd1;
  background-color: #6e4dd1;
  border-radius: 5px; }

.navBarLogo {
  width: 100px;
  height: 80px; }

footer {
  display: flex;
  justify-content: center; }
  footer img {
    width: 50px;
    height: 50px; }

.socials {
  padding: 25px 25px;
  background-color: #6e4dd1;
  border-radius: 100px; }

.bodyColor {
  background-color: #010102; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif; }
