@import "utils/variables";
@import "utils/listas";
@import "utils/clases";
@import "utils/globals";
@import "utils/animaciones";
@import "utils/lightbox";
@import "layout/header";
@import "layout/footer";
@import "layout/body";


*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}


