.milHoras, .lbEquinox{
    height:100%;
    width:100%;
    object-fit:cover;
    transition: .2s linear;
    overflow: hidden;
    &:hover{
        transform: scale(1.2);
    }
    
}

.galeriaMarquee, .galeriaEquinox, .galeriaEquinox2 {
    overflow:hidden;
    a{
        overflow:hidden;
        img{
            overflow:hidden;
        }
    }
}
