@import "./mixin";

.wh100{
    width: 100%;
    height: 100%;
}

.inicio{
    @include flex(column, center);
    margin: 40px 80px 42px 80px;
    div{
        p{
            font-size: 1.5rem;
            color: nth($colores, 1 );
        }
    }
}

.texto-inicio{
    color: nth($colores,1);
    h1{
        color: nth($colores,1);
    }
}

.img-inicio-2{
    display:none;
}

.navBarLogo{
    display: none;
}

.galeriaMarquee, .galeriaEquinox, .galeriaEquinox2, .galeriaEditadas, .galeriaSociales{
    display:grid;
    gap:2rem;
    margin: 2rem;
    align-content: center;
    a{
        
        border-radius:1px;
        border: 1px solid nth($colores, 1);
        img{
            object-fit: cover;
            @extend .wh100;
        }
    }
    
}

.menesunda{
    @include flex(row, center);
    flex-wrap: wrap;
    gap: 20px;
    margin: 0px 10px;
    a{
        width: 500px;
        height: 330px;
    
        border-radius:1px;
        border: 1px solid nth($colores, 1);
        img{
            object-fit:cover;
            @extend .wh100;
        }
        
    }
    .cover{
        width: 1020px;
    height: 650px;
    }
}


.stencils{
    @include flex(column, center);
    margin: 0px 25px;
}

.accordion-item{
    background-color: nth($colores, 3) !important;
    margin: 0px 250px;
}
.accordion-button{
    
}

.tituloGaleria{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    color: nth($colores, 1);
    margin-bottom: 10px;
}

.violeta{
    color:nth($colores,1);
}

.contacto{
    div{
        label{
            color: nth($colores,1);
        }
    }
}

.mainContacto{
    margin: 30px 20px 115px 20px;
}

@media screen and (min-width:600px) {
    
    .galeriaMarquee, .galeriaEquinox, .galeriaEquinox2{
        margin: 3rem 11rem;
    }
}

@media screen and (min-width:1000px){

    
    .img-inicio-1{
        display:none;
    }
    .img-inicio-2{
        display:block;
        width: 1000px;
        height: 600px;
    }
    .container{
        width:800px;
    }

    .img-inicio-2{
        display: block;
    }

    .navBarLogo{
        margin-left: 20px;
        margin-top: 0px;
        display: block;
        width: 100px;
        height: 100%;
    }
    
    
    

    .inicio{
        @include flex(row, space-evenly);
        align-items:center;
        
        div{
            margin: 0px 50px;
        }
    }

    
    
    

    .galeriaMarquee{
        @include grids(repeat(3,1fr), repeat(3,1fr), 0% 25% 1% 25%);
        .lb4{
            grid-column: span 2;
            .img4{
                grid-column: span 2;
            }
        } 
        .lb8{
            grid-column: span 2;
            .img8{
            grid-column: span 2;
            }
        } 
    }

    .galeriaEquinox{
        @include grids(2fr 3fr 2fr, repeat(3,30%), 0% 25% 1% 25%);
        .lb1{
            grid-row: span 2;
            .img4{
                grid-row: span 2;
            }
        }
        
        .lb3{
            grid-row: span 2;
            .img3{
                grid-row: span 2;
            }
        }

    }

    .galeriaEquinox2{
        @include grids(repeat(3,1fr), 1fr, 1% 25% 1% 25%);
    }
    
    .galeriaEditadas{
        @include grids(repeat(3,1fr), repeat(3,1fr), 0% 25% 1% 25%);
    }

    .galeriaSociales{
        @include grids(repeat(2,1fr), repeat(2,1fr), 0% 25% 1% 25%);
    }
    

    .stencils{
        margin: 0rem 0rem;
    }
  
    
} 
@media screen and (min-width:1453px){
    .stencils{
        margin: 0rem 11rem;
    }
}