@mixin flex($direction, $content){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
}

@mixin grids($columns, $rows, $margin){
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    margin: $margin;
}