footer{
    display: flex;
    justify-content: center;
    img{
        width: 50px;
        height: 50px;
    }
}

.socials{
    padding: 25px 25px;
    background-color: nth($colores, 3);
    border-radius: 100px;
}

