.navBarCustom{
    background-color: nth($colores, 3);
    li{
        a{
          font-weight: bold;
          font-size: 1.4rem;
          transition: all .5s; 
          color: nth($colores, 1 ) !important;  
          text-decoration: underline 0.15em rgba(0, 0, 0, 0);
          transition: all 300ms;
        }
        a:hover{
            border-radius: 5px;
            color: nth($colores, 1 ); 
            text-decoration: underline 0.15em nth($colores, 1);
            
        }
        
    }
    ul{
        background-color: nth($colores,3);
        li{
            
            a:hover{
                background-color: nth($colores, 3) !important;
            }
        }
    }
}



.bordeRosa{        
    background-color: nth($colores,1 );
    border-radius: 5px;
} 

